/* VARIABLES */
:root {
    --primary: #331E4F;
    --secondary: #585859;
}

/* HERO */
.hero-slide {
    height: 63vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* 👈 cambia esto */
    /* background-color: #000; */
}

.hero-overlay {
    background: linear-gradient(90deg, rgba(0,0,0,0.6), transparent);
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    padding-top: 20%;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.btn-hero {
    background: var(--primary);
    padding: 12px 30px;
    color: white;
    border-radius: 50px;
    text-decoration: none;
}

/* DISEÑOS */
.design-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: .3s;
}

.design-card:hover {
    transform: translateY(-8px);
}

.design-card img {
    width: 100%;
}

.design-info {
    padding: 15px;
    background: white;
}

/* PERSONALIZACIÓN */
.custom-preview {
    position: relative;
    text-align: center;
}

#designOverlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}

.color-options span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #ddd;
}

/* CATEGORÍAS */
.category-card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.category-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.category-overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0,0,0,0.7));
    width: 100%;
    color: white;
    padding: 20px;
}

/* TRUST */
.trust-section {
    background: var(--primary);
    color: white;
}

.icon-box {
    font-size: 40px;
    margin-bottom: 15px;
}

@media(max-width:768px){
    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-slide {
        height: 60vh;
    }
}


.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #331E4F;
    backdrop-filter: blur(12px);
    z-index: 999;
    padding: 15px 0;
    transition: all .3s ease;
}

.main-header.scrolled {
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    color: #331E4F;
}

.logo span {
    color: #585859;
}

.nav-desktop a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.nav-desktop a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.nav-desktop a:hover::after {
    width: 100%;
}

.cart-icon {
    position: relative;
    font-size: 22px;
    color: #331E4F;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #f58634;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.category-card-pro {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 350px;
    transition: .4s;
}

.category-card-pro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.category-card-pro:hover img {
    transform: scale(1.1);
}

.category-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    color: white;
}

.custom-preview img {
    transition: .4s ease;
}

.custom-preview:hover img {
    transform: scale(1.05);
}

.cta-section {
    background: #f58634;
    color: white;
    padding: 80px 0;
}

.btn-cta {
    background: white;
    color: #331E4F;
    padding: 14px 40px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.btn-cta:hover {
    background: #585859;
    color: white;
}

/* ===== SECCIÓN PREMIUM PERSONALIZACIÓN ===== */

.custom-section-pro {
    padding: 100px 0;
    background: linear-gradient(135deg, #331E4F, #585859);
    color: #fff;
    position: relative;
    overflow: hidden;
}

.custom-section-pro::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background: rgba(255,255,255,0.05);
    border-radius: 50%;
    top: -200px;
    right: -200px;
}

.custom-preview-pro {
    position: relative;
    max-width: 450px;
    margin: auto;
}

.shirt-base {
    width: 100%;
    filter: drop-shadow(0 25px 40px rgba(0,0,0,0.4));
    transition: transform 0.4s ease;
}

.design-overlay {
    position: absolute;
    width: 45%;
    top: 32%;
    left: 27%;
    transition: transform 0.4s ease;
}

.custom-preview-pro:hover .shirt-base {
    transform: translateY(-10px);
}

.custom-preview-pro:hover .design-overlay {
    transform: scale(1.05);
}

.custom-content-pro h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
}

.custom-content-pro h2 strong {
    color: #FFD700;
}

.custom-content-pro p {
    font-size: 17px;
    opacity: 0.9;
    margin-bottom: 30px;
}

.badge-custom {
    background: rgba(255,255,255,0.1);
    padding: 6px 15px;
    border-radius: 30px;
    font-size: 13px;
    margin-bottom: 15px;
    display: inline-block;
}

.color-options-pro {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.color-options-pro span {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.color-options-pro span:hover {
    transform: scale(1.15);
    border: 3px solid #fff;
}

.btn-custom-pro {
    display: inline-block;
    background: #FFD700;
    color: #000;
    padding: 14px 35px;
    border-radius: 40px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-custom-pro:hover {
    background: #fff;
    transform: translateY(-3px);
}

/* HEADER BASE */
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    transition: all 0.3s ease;
    background: #331E4F;
}

/* EFECTO AL SCROLL */
.main-header.scrolled {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* CONTENEDOR */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #111;
}

.logo span {
    color: #000;
}

/* NAV DESKTOP */
.nav-desktop {
    display: flex;
    gap: 30px;
}

.nav-desktop a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    position: relative;
}

.nav-desktop a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.nav-desktop a.active{

color:#f58634;
font-weight:600;

}

.nav-desktop a.active::after{

content:"";
position:absolute;
left:0;
bottom:-5px;
width:100%;
height:2px;
background:#f58634;

}

.nav-desktop a:hover::after {
    width: 100%;
}

/* ACTIONS */
.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* CART */
.cart-icon {
    position: relative;
    font-size: 22px;
    color: #111;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #f58634;
    color: #fff;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}

/* MOBILE TOGGLE */
.mobile-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 260px;
    height: 100vh;
    background: #331E4F;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: right 0.4s ease;
    z-index: 1200;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}



/* RESPONSIVE */
@media (max-width: 991px) {

    .nav-desktop {
        display: none !important;
    }

    .mobile-toggle {
        color: white !important;
        display: block !important;
    }

}

/* OVERLAY OSCURO */
.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 1100;
}

.menu-overlay.active {
    /* opacity: 1; */
    visibility: visible;
}


/* BLOQUEAR SCROLL */
body.menu-open {
    overflow: hidden;
}

/* FOOTER BASE */
.main-footer {
    background: #331E4F;
    color: #ccc;
    padding-top: 70px;
    font-size: 15px;
}

/* LOGO */
.footer-logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.footer-logo span {
    color: #fff;
}

.footer-text {
    margin: 15px 0;
    color: #aaa;
}

/* TITULOS */
.main-footer h5 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}

/* LINKS */
.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #fff;
    padding-left: 5px;
}

/* SOCIAL */
.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.footer-social a {
    color: #aaa;
    font-size: 18px;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #fff;
    transform: translateY(-3px);
}

/* NEWSLETTER */
.footer-newsletter {
    display: flex;
    margin-top: 15px;
}

.footer-newsletter input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.footer-newsletter button {
    background: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.footer-newsletter button:hover {
    background: #ddd;
}

/* BOTTOM */
.footer-bottom {
    background: #331E4F;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
    color: #777;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .footer-bottom {
        text-align: center;
    }

    .footer-bottom .container {
        flex-direction: column;
        gap: 10px;
    }

}










.design-page {
    padding: 60px 0;
    background: #f4f6f9;
}

.design-grid {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 40px;
}

.design-sidebar {
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.sidebar-title {
    font-weight: 600;
    margin-bottom: 25px;
}

.tool-group {
    margin-bottom: 25px;
}

.tool-group label {
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
}

.view-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.view-btn {
    padding: 8px 14px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.view-btn.active,
.view-btn:hover {
    background: #111;
    color: #fff;
}

.btn-tool {
    width: 100%;
    padding: 10px;
    border: none;
    background: #111;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btn-save {
    width: 100%;
    padding: 14px;
    background: linear-gradient(45deg, #000, #333);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.file-input {
    width: 100%;
}

.design-canvas-wrapper {
    background: #ffffff;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}



/* RESPONSIVE */
@media(max-width: 992px) {
    .design-grid {
        grid-template-columns: 1fr;
    }
}


.about-hero h1 {
    letter-spacing: 2px;
}

.about-page section {
    position: relative;
}

/* Tarjetas con efecto PRO */
.gradient-card {
    transition: all 0.4s ease;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    border: none;
}

.gradient-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

/* Gradientes modernos */

.gradient-primary {
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.gradient-success {
    background: linear-gradient(135deg, #11998e, #38ef7d);
}

.gradient-warning {
    background: linear-gradient(135deg, #f7971e, #ffd200);
}

.gradient-info {
    background: linear-gradient(135deg, #36d1dc, #5b86e5);
}

.gradient-danger {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
}

/* .bg-dark{
    background-color: #331E4F !important;
} */



.shop-banner img{
width:100%;
height:400px;
object-fit:cover;
}



/* TAXONOMIES */

.shop-taxonomies{

background:#331E4F;
padding:25px 0;
overflow:hidden;

}



.taxonomy-scroll{
    display:flex;
    justify-content:center; 
    gap:20px;
    overflow-x:auto;
    scroll-behavior:smooth;
    padding:10px 20px;
}

.taxonomy-item{

text-align:center;
color:white;
min-width:120px;
text-decoration:none;
transition:.3s;

}

.taxonomy-item:hover{

transform:translateY(-5px);
color:#ff4d4d;

}

.taxonomy-icon{

width:70px;
height:70px;
margin:auto;
border-radius:50%;
overflow:hidden;
background:#fff;
display:flex;
align-items:center;
justify-content:center;
margin-bottom:5px;

}

.taxonomy-icon img{

width:45px;

}


@keyframes scrollTax{

0%{
transform:translateX(0)
}

100%{
transform:translateX(-50%)
}

}



/* FILTROS */

.filter-box{

background:white;
padding:20px;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);

}

.filter-box h5{

font-weight:700;
margin-bottom:15px;

}

.filter-scroll{

max-height:350px;
overflow-y:auto;

}

.filter-item{

display:block;
margin-bottom:10px;
cursor:pointer;

}

.filter-item input{

margin-right:8px;

}



/* PRODUCTOS */

.product-card{

background:white;
border-radius:10px;
overflow:hidden;
transition:.3s;
box-shadow:0 5px 15px rgba(0,0,0,0.05);

}

.product-card:hover{

transform:translateY(-8px);
box-shadow:0 15px 35px rgba(0,0,0,0.15);

}

.product-image{

height:300px;
background:#f6f6f6;
display:flex;
align-items:center;
justify-content:center;

}

.product-image img{

max-height:220px;

}

.product-info{

padding:20px;
text-align:center;

}

.product-info h6{

font-weight:700;
margin-bottom:10px;

}



/* COLORES */

.product-colors{

display:flex;
justify-content:center;
gap:8px;
margin-bottom:15px;

}

.color-dot{

width:18px;
height:18px;
border-radius:50%;
border:2px solid white;
box-shadow:0 0 3px rgba(0,0,0,0.4);

}



/* BOTON */

.btn-buy{

background:#35204a;
color:white;
padding:8px 18px;
border-radius:25px;
text-decoration:none;
transition:.3s;

}

.btn-buy:hover{

background:#f58634;
color:white;

}

.bg-blue{
    background-color: #35204a;
}



/* HERO */

.contact-hero{
height: 300px;
background:linear-gradient(135deg,#35204a,#333);
color:white;
padding:20px;
text-align:center;

}

.contact-hero h1{

font-size:42px;
font-weight:700;
margin-bottom:10px;

}

.contact-hero p{

font-size:18px;
opacity:.9;

}



/* INFO CONTACTO */

.contact-info{

margin-top:60px;
margin-bottom:40px;

}

.contact-card{

background:white;
padding:35px;
border-radius:12px;
text-align:center;
transition:.3s;
box-shadow:0 10px 25px rgba(0,0,0,.05);

}

.contact-card:hover{

transform:translateY(-6px);
box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.contact-card .icon{

font-size:28px;
margin-bottom:15px;
color:#ff3b3b;

}



/* FORMULARIO */

.contact-form-section{

margin-top:60px;
margin-bottom:80px;

}

.contact-form-card{

background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.contact-form-card h3{

margin-bottom:25px;
font-weight:700;

}

.form-group{

margin-bottom:18px;

}

.form-control{

border-radius:8px;
padding:12px;

}

.btn-send{

background:black;
color:white;
padding:10px 22px;
border-radius:30px;
border:none;
transition:.3s;

}

.btn-send:hover{

background:#ff3b3b;

}



/* MAPA */

.contact-map{

border-radius:12px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,.1);

}

.hero-content1 {
    position: relative;
    z-index: 2;
    color: white;
    padding-top: 85px;
}


.header-search{

display:flex;
align-items:center;
background:#f5f5f5;
border-radius:30px;
overflow:hidden;
margin-left:20px;

}

.header-search input{

border:none;
background:transparent;
padding:8px 14px;
width:200px;
outline:none;

}

.header-search button{

border:none;
background:#f58634;
color:white;
padding:8px 14px;
cursor:pointer;

}

.header-search button:hover{

background:#f58634;

}

.logo-img{
transition: transform 0.3s ease;
}

.logo-img:hover{
animation: logoBounce 0.6s ease;
}

@keyframes logoBounce{

0%{
transform: scale(1);
}

30%{
transform: scale(1.15);
}

50%{
transform: scale(0.95);
}

70%{
transform: scale(1.05);
}

100%{
transform: scale(1);
}

}


.product-colors{
display:flex;
gap:6px;
margin-top:10px;
}

.color-box{
width:18px;
height:18px;
border-radius:3px;
border:1px solid #ddd;
cursor:pointer;
}

.color-box:hover{
transform:scale(1.2);
border:1px solid #000;
}

.taxonomy-scroll{
    display:flex;
    gap:20px;
    overflow-x:auto;
    scroll-behavior:smooth;
    /* padding:10px 40px; */
}

.taxonomy-scroll::-webkit-scrollbar{
    display:none;
}

.taxonomy-item{
    min-width:110px;
    text-align:center;
    flex-shrink:0;
}

.taxonomy-wrapper{
    position:relative;
}

.scroll-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    border:none;
    background:white;
    width:35px;
    height:35px;
    border-radius:50%;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
    cursor:pointer;
    z-index:10;
}

.scroll-btn.left{
    left:5px;
}

.scroll-btn.right{
    right:5px;
}

@media(max-width:768px){

    .taxonomy-wrapper{
        padding:0 10px;
    }

    .scroll-btn{
        display:none;
    }

}

.taxonomy-scroll{
    scroll-snap-type: x mandatory;
}

.taxonomy-item{
    scroll-snap-align: start;
}